extends ../layouts/client-layout.pug

block styles
    link(rel="stylesheet", href="/css/client.css")
block content
    h1 Hallo #{name}
    p Der Lehrende hat noch keine Unterrichtseinheit gestartet.
    p Du bist nicht #{name}? Klicke 
      a(href="/client/new") hier.
