extends ../layouts/client-layout.pug

block styles
  link(rel="stylesheet", href="/css/presenter.css")

block content
  div#container
    div#presenter
      div(v-if="!isError")
        template(v-if="session != null")
          div(v-if="session.type == 'brainstorming'")
             h2 {{ session.name}} - Brainstorming
             div#cloud
            
          div(v-if="session.type == 'quizzing'")#quiz
            h2 {{ session.name}} - Quiz
            h1 - {{ session.lecture.topic}} - 
          div(v-if="session.type == 'quizzing' && isRunning")
            div.quiz-question-box
              div.quiz-question-number Frage No. {{ quizzing.currentQuestionId + 1 }}
              div.quiz-question-question {{ quizzing.currentQuestion.question }}
              div.quiz-question-answer-box
                div.quiz-question-answer 1: {{ quizzing.currentQuestion.answer1 }}
                div.quiz-question-answer 2: {{ quizzing.currentQuestion.answer2 }}
                div.quiz-question-answer 3: {{ quizzing.currentQuestion.answer3 }}
                div.quiz-question-answer 4: {{ quizzing.currentQuestion.answer4 }}
        h1(v-if="!isRunning") Der Lehrende hat die Session noch nicht gestartet!
        div.players Spieler: 
        span(v-for="student in students")
          span.player {{ student.name }} &nbsp;
        template(v-if="!isRunning && session == null") 
          h1 Der Lehrende hat diese Session beendet.  
      div(v-else)
        p {{ errorText }}
        

  em#presenterId(style="display: none") #{presenterId}
  script(src="/client/js/presenter/index.js")
 
