extends ../layouts/client-layout.pug

block styles
    link(rel="stylesheet", href="/css/student.css")
block content
    div.container
      div#student
        div(v-if="!isError")
          div(v-if="sessionBrowser")
            template(v-if="newUser")
              div#signup
                label Name
                  input(type="text", v-model="username")
                  button(@click="signup").button Mitmachen!
            template(v-else)
              h3 Verfügbare Spiele
              p(v-if="sessions.length == 0") Keine Spiele gefunden.
              ul
                li(v-for="(session, i) in sessions")
                  h5 {{ session.name }}
                  p {{ session.type }}
                  button(@click="joinSession(session.userId)") Beitreten
          template(v-if="session")
            div#brainstorming(v-if="session.type === 'brainstorming'")
              h1 Brainstorm Session
              div(v-if="isRunning")
                h3 Thema: {{ session.lecture.topic }}
                input(type="text", v-model="bsAnswer")
                button(@click="studentAnswer()") Antwort abgeben!
              div(v-else)
                p Der Lehrende hat diese Session noch nicht gestartet.
                button(@click="leaveSession()") Spiel verlassen!
            div#quiz(v-if="session.type === 'quizzing'")
              h1 Quiz Session!
              div(v-if="isRunning")
                h3 Aktuelle Frage:
                  div.quiz-question-box
                    div.quiz-question-number Frage {{ currentQuestionId + 1 }} von {{session.lecture.questions.length}}
                    div.quiz-question-question {{ session.lecture.questions[currentQuestionId].question }}
                    div.quiz-question-answer-box
                      div.quiz-question-answer(@click="quizAnswer(1)") 1: {{ session.lecture.questions[currentQuestionId].answer1 }}
                      div.quiz-question-answer(@click="quizAnswer(2)") 2: {{ session.lecture.questions[currentQuestionId].answer2 }}
                      div.quiz-question-answer(@click="quizAnswer(3)") 3: {{ session.lecture.questions[currentQuestionId].answer3 }}
                      div.quiz-question-answer(@click="quizAnswer(4)") 4: {{ session.lecture.questions[currentQuestionId].answer4 }}
              div(v-else)
                p Der Lehrende hat diese Session noch nicht gestartet.
                button(@click="leaveSession()") Spiel verlassen!
        div(v-else)#error {{ errorText }}
    script(src="/client/js/student/index.js")
        


