extends ../layouts/client-layout.pug

block styles
    link(rel="stylesheet", href="/css/student.css")
block content
    div.container
      div#student
        div(v-if="!isError")
          div(v-if="sessionBrowser")
            template(v-if="newUser")
              div#signup
                label Name
                  input(type="text", v-model="username")
                  button(@click="signup").button Mitmachen!
            template(v-else)
              h3 Verfügbare Spiele
              p(v-if="sessions.length == 0") Keine Spiele gefunden.
              ul
                li(v-for="(session, i) in sessions")
                  h5 {{ session.name | capitalize}}
                  p {{ session.type | capitalize}}
                  button(@click="joinSession(session.userId)") Beitreten
          template(v-if="session")
            h1 {{ session.name | capitalize }} 
            div#brainstorming(v-if="session.type === 'brainstorming'")
              h2 Brainstorming zum Thema {{ session.lecture.topic | capitalize }}
              div(v-if="isRunning")
                input(type="text", v-model="bsAnswer")
                button(@click="studentAnswer()") Antwort abgeben!
              template(v-if="isRunning == false")
                p Der Lehrende hat diese Session noch nicht gestartet.
                button(@click="leaveSession()") Spiel verlassen!
              
            div#quiz(v-if="session.type === 'quizzing'")
              h2 Quiz zum Thema: {{ session.lecture.topic | capitalize}}
              div(v-if="isRunning && !endQuiz")
                h3 Aktuelle Frage:
                  div.quiz-question-box
                    div.quiz-question-number Frage {{ currentQuestionId + 1 }} von {{session.lecture.questions.length}}
                    div.quiz-question-question {{ session.lecture.questions[currentQuestionId].question | capitalize }}
                    div.quiz-question-answer-box
                      div.quiz-question-answer(@click="quizAnswer(1)") 1: {{ session.lecture.questions[currentQuestionId].answer1 | capitalize}}
                      div.quiz-question-answer(@click="quizAnswer(2)") 2: {{ session.lecture.questions[currentQuestionId].answer2 | capitalize}}
                      div.quiz-question-answer(@click="quizAnswer(3)") 3: {{ session.lecture.questions[currentQuestionId].answer3 | capitalize}}
                      div.quiz-question-answer(@click="quizAnswer(4)") 4: {{ session.lecture.questions[currentQuestionId].answer4 | capitalize}}
              div(v-if="endQuiz")
                p Das Quiz ist beendet. Deine Ergebnis:
                ul(v-for="(result) in quizConclusion")
                  li Frage "{{ result.question }}"
                    p Deine Antwort: {{ result.playerAnswer }}
                    p {{ result.answerCorrect ? `Das ist korrekt!` : `Leider falsch, die richtige Antwort lautet "${result.validAnswer}".`}}
                
                        
              template(v-if="isRunning == false")
                p Der Lehrende hat diese Session noch nicht gestartet.
                button(@click="leaveSession()") Spiel verlassen!
        div(v-else)#error {{ errorText }}
    script(src="/client/js/student/index.js")
        


