<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", conten="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/normalize.css")
        block styles
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        block scripts
        
    body
        .app-container
            block content
                
             