<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    mmeta(name="viewport", conten="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{docTitle}
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/teacher.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    block styles
  body
    .container
      header.row.bg-warning
        div.col-sm           
          h1 Node ICT
          bold Lehrer Bereich 
          if loggedUser
            span von #{loggedUser.name}
        nav.navbar.navbar-dark.justify-content-center
          a.nav-link(href="/teacher/") Start
          if isLoggedIn
            a.nav-link(href="/teacher/settings") Einstellungen
            a.nav-link(href="/teacher/sessions") Lehreinheiten
            a.nav-link(href="/client/") Zu Teilnehmer wechseln
            form(method="POST" action="/teacher/logout")
              button(type="SUBMIT") Log Out
          unless isLoggedIn
            a.nav-link(href="/teacher/signup") Registrieren
            a.nav-link(href="/teacher/login")
              button Log In
      div.row
        div.col.bg-light
          block content

