//-
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License

<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    mmeta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{docTitle}
    // link(rel="stylesheet", href="/css/normalize.css")
    // Page styles
    link(rel="stylesheet", href="/css/fonts/fonts.css")
    link(rel="stylesheet", href="/css/material_icons.css")
    link(rel="stylesheet", href="/css/material.min.css")
    link(rel="stylesheet", href="/css/template.css")

    script(src="/js/jquery.min.js")
    script(src="/client/js/sweetalert.js")
    block scripts
    block styles
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      div.android-header.mdl-layout__header.mdl-layout__header--waterfall
        div.mdl-layout__header-row
          span.android-title.mdl-layout-title
            img.android-logo-image(src='/images/android-logo.png')
          // Add spacer, to align navigation to the right in desktop
          div.android-header-spacer.mdl-layout-spacer
          div.android-search-box.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right.mdl-textfield--full-width
            label.mdl-button.mdl-js-button.mdl-button--icon(for='search-field')
              i.material-icons search
            div.mdl-textfield__expandable-holder
              input#search-field.mdl-textfield__input(type='text')
          // Navigation
          div.android-navigation-container
            nav.android-navigation.mdl-navigation
              if loggedUser
                a.mdl-navigation__link.mdl-typography--text-uppercase(href='/teacher/') Start
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="/teacher/sessions") Lehreinheiten
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="/teacher/settings") Einstellungen
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="/client/student" target="_blank") Zu Teilnehmer wechseln
                form(method="POST" action="/teacher/logout")
                  button(type="SUBMIT") Log Out 
              unless isLoggedIn
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="/teacher/signup") Registrieren
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="/teacher/login") Login  
          span.android-mobile-title.mdl-layout-title
            img.android-logo-image(src='/images/android-logo.png')
          button#more-button.android-more-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
            i.material-icons more_vert
          ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='more-button')
            li.mdl-menu__item Reserverd
            li.mdl-menu__item Reserverd
            li.mdl-menu__item(disabled='') Reserverd disabled
            li.mdl-menu__item Reserverd
      div.android-drawer.mdl-layout__drawer
        span.mdl-layout-title
          img.android-logo-image(src='/images/android-logo-white.png')
        nav.mdl-navigation
          if loggedUser
            span von #{loggedUser.name}
          if isLoggedIn
            a.mdl-navigation__link(href='/teacher/') Start
            a.mdl-navigation__link(href="/teacher/sessions") Lehreinheiten
            a.mdl-navigation__link(href="/teacher/settings") Einstellungen
            a.mdl-navigation__link(href="/client/student" target="_blank") Zu Teilnehmer wechseln
            form(method="POST" action="/teacher/logout")
              button(type="SUBMIT") Log Out
          unless isLoggedIn
            a.mdl-navigation__link(href="/teacher/signup") Registrieren
            a.mdl-navigation__link(href="/teacher/login") Login
      .android-content.mdl-layout__content
        a(name="top")
        .android-screen-section
          block content
        footer.android-footer.mdl-mega-footer
          .mdl-mega-footer--top-section
            .mdl-mega-footer--left-section
            .mdl-mega-footer--right-section
              a.mdl-typography--font-light(href='#top')
                | Back to Top
                i.material-icons expand_less
          .mdl-mega-footer--middle-section
            p.mdl-typography--font-light Node ICT: © 2019 Jannes Brunner, HTW Berlin
            p.mdl-typography--font-light THIS APP IS IN BETA STATE
          .mdl-mega-footer--bottom-section
            a.android-link.mdl-typography--font-light(href='') Blog
            a.android-link.mdl-typography--font-light(href='') Privacy Policy
    a#view-source.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--accent.mdl-color-text--accent-contrast(href='https://github.com/google/material-design-lite/blob/mdl-1.x/templates/android-dot-com/', target='_blank') View Source
    script(src='https://code.getmdl.io/1.3.0/material.min.js')







