<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/main.css")
    body
        .main-container
            .main-container__header
                h2 Node ICT
                h1 Willkommen!
            .main-container__buttons
                a.main-container__button(href="/teacher") Lehrer_in 
                a.main-container__button(href="/client") Schüler_in 
            .main-container__info
                p  bitte wählen Sie ihre Rolle
