extends ../layouts/teacher-layout.pug

block content
    h3 Hallo #{loggedUser.name}!
    p Sie befinden sich im Lehrer_in Bereich von Node ICT.
    br 
    p Von hier aus können Sie die Applikation verwalten, 
       | Lehreinheiten anlegen und starten. 
