extends ../layouts/teacher-layout.pug

block styles
  link(rel="stylesheet", href="/css/teacher.css")
block content
  div.card
    div.card-header Bitte authentifizieren!
    div.card-body
      form(method='POST' action='/teacher/login')
        div.form-group
          label(for='Name') E-Mail
          input.form-control(type='text' id='mail' placeholder='jemand@example.tld' name='mail' required)
        div.form-group
          label(for='password') Passwort
          input.form-control(type='password' id='password' placeholder='Passwort' name='password' required)
        button.btn.btn-primary(type='submit') Log in 
  p Neuer Dozierender? 
    a(href="/teacher/signup") Hier registrieren!
