extends ../../layouts/teacher-layout.pug

block styles
  link(rel="stylesheet", href="/css/client.css")
block content
  div#teacher
    div(v-if="!isError")
      div(v-if="session")
        h1 Lehrkraft Monitor
        strong Name: 
        span {{ session.name }} 
        strong Typ: 
        span {{ session.type }} 
        a(v-bind:href="presenterUrl" target="_blank") Presenter öffnen
        p
          strong Lobby:
          ul(v-for="(student, i) in students") 
            li {{ student.name }}
              button(v-if="!isRunning" @click="kickStudent(student.id, student.name)") Entfernen
        hr
        div#eduBrainstorm
          div(v-if="session.type == 'brainstorming'") 
            h4 Brainstorming Thema: {{ session.lecture.topic}}
            h3 Bisherige Antworten:
            div(v-if="brainstorming.answers.length > 0")
              ul(v-for="(answer) in brainstorming.answers")
                li {{ answer.answer}} (hinzugefügt von {{ answer.clientName }}) 
                button(@click="removeAnswer(answer.answer, answer.id)") Entfernen
            p(v-else) Bisher keine Antworten.
          div(v-if="session.type == 'brainstorming' && isRunning")
            
        div#eduQuiz
          div(v-if="session.type == 'quizzing'") 
            h4 Quiz Thema: {{ session.lecture.topic}}
            p Fragen:
              ul(v-for="(question) in session.lecture.questions") 
                li {{ question.question}} 
              
          div(v-if="session.type == 'quizzing' && isRunning")
            p Quiz Session started!
          
          div(v-if="session.type == 'quizzing' && isRunning")
          

        hr
        button(v-if="!isRunning && students.length > 0" @click="startSession()") Session Starten
        button(@click="endSession") Session Beenden (Speichern)
      div(v-else)
        h1 Die Session wurde beendet
    div(v-else) {{ errorText }}







  script(src="/client/js/teacher/index.js")
