extends ../../layouts/teacher-layout.pug

block content
  div#teacher
    div(v-if="!isError")
      div(v-if="session")
        div.lecture-topbar
          h1 Lehrkraft Monitor
          div.lecture-stats
            small Name: <strong> {{ session.name }} </strong>
            small Typ:  <strong> {{ session.type }} </strong>
            a(v-bind:href="presenterUrl" target="_blank") Presenter öffnen
          div.lecture-lobby
          p
            strong Lobby:
            ul.lobby-list
              li.lobby-item(v-for="(student, i) in students")  {{ student.name }}
               a.btn.btn-link(v-if="!isRunning" @click="kickStudent(student.id, student.name)") Entfernen
          h2(style="text-transform: uppercase;")  {{ session.type }}
        hr
        div.zoom-container
          div.zoom-control
            button.btn.btn-outline-secondary(@click="zoom(0)") -
            div.zoom-label Presenter Zoom Level
            button.btn.btn-outline-secondary(@click="zoom(1)") +
          div.progress
            div.progress-bar(role="progressbar" v-bind:style="{ width: zoomLevel +'%' }" :aria-valuenow="zoomLevel" aria-valuemin="0" aria-valuemax="100") {{zoomLevel}} 
        hr
        div#eduBrainstorm
          div.jumbotron(v-if="session.type == 'brainstorming'") 
            h4 Thema: {{ session.lecture.topic}}
            h3 Bisherige Antworten:
            div(v-if="brainstorming.answers.length > 0")
              ul(v-for="(answer) in brainstorming.answers")
                li {{ answer.answer}} (hinzugefügt von {{ answer.clientName }}) 
                button.btn(@click="removeAnswer(answer.answer, answer.id)") Entfernen
            p(v-else) Bisher keine Antworten.
          div(v-if="session.type == 'brainstorming' && isRunning")
            
        div#eduQuiz
          div.jumbotron(v-if="session.type == 'quizzing'") 
            h4 Quiz Thema: {{ session.lecture.topic}}
            p Fragen:
              ul(v-for="(question) in session.lecture.questions") 
                li {{ question.question}} 
                  strong A: 
                  span {{question.answer1}} 
                  strong B: 
                  span {{ question.answer2}}  
                  strong C: 
                  span {{ question.answer3}}  
                  strong D:  
                  span {{ question.answer4}} 
                  template(v-if="quizConclusion")
                    ul(v-for="(answer) in quizzing.givenAnswers")
                      li(v-if="answer.questionId == question.id") {{ answer.studentName }} hat diese Frage {{ question.validAnswer == answer.answerId ? "richtig" : `falsch mit '${question["answer"+answer.answerId]}'`}} beantwortet!
              template(v-if="quizConclusion")
                hr
                div Bester Spieler: {{ quizStatistics.bestPlayer.studentName }} mit {{ quizStatistics.bestPlayer.highscore }} richtigen Antworten!
                div Das Schlusslicht: {{ quizStatistics.worstPlayer.studentName }} mit {{ quizStatistics.worstPlayer.highscore }} falschen Antworten!
                div Richtige Antworten Total: {{ quizStatistics.totalRight }}
                div Falsche Antworten Total: {{ quizStatistics.totalWrong }}
                div Im Verhältnis (Richtige/Falsche): {{ quizStatistics.rwRatio }}

          div(v-if="session.type == 'quizzing' && isRunning && !quizConclusion")
            strong Aktuelle Frage:
            p {{ session.lecture.questions[currentQuestionId].question }} 
            strong Beantwortet von: 
            p {{ receivedAnswers }} / {{ students.length}}
            button(v-if="session.lecture.questions.length != currentQuestionId + 1" @click="nextQuestion") Nächste Frage 
            button(v-if="session.lecture.questions.length == currentQuestionId + 1 && !quizConclusion" @click="endQuiz") Beenden / Auswertung 
          

        hr
        button.btn.btn-success(v-if="!isRunning && students.length > 0" @click="startSession()") Lehreinheit Starten
        button.btn.btn-danger(@click="endSession") Lehreinheit Beenden
        
      div(v-else)
        h1 Die Session wurde beendet
    div(v-else) {{ errorText }}







  script(src="/client/js/teacher/index.js")
