extends ../../layouts/teacher-layout.pug

block styles
    link(rel="stylesheet", href="/css/client.css")
block scripts
    script(src="/client/js/vue.js")
    script(src="/client/js/socket.io.js")
block content
    div#teacher
        div(v-if="sessionActive")
            h1 Lehrkraft Monitor
            strong Name: 
            span {{ session.name }} 
            strong Typ: 
            span {{ session.type }} 
            a(v-bind:href="presenterUrl" target="_blank") Presenter öffnen
            p
              strong Lobby:
              ul(v-for="(student, i) in students") 
                li {{ student.name }}
                  button(@click="kickPlayer(student.id)") Entfernen
            hr
            div#eduBrainstorm(v-if="brainstorming")
                button(@click="sendTest") Test Brainstorm
            div#eduQuiz(v-if="quizzing")
                button Test Quiz
            hr
            button(@click="endSession") Session Beenden 
        div(v-else)
            h1 Die Session wurde beendet







    - var socket = `var socket = io('${ipAdd}:3000/tclient');`
    script #{socket}
    script(src="/client/js/teacher/index.js")
