extends ../../layouts/client-layout.pug

block styles
    link(rel="stylesheet", href="/css/client.css")
block scripts
    script(src="./js/brainstorm_teacher.js")
block content
    h1 Hallo Teacher
    p Test test test
