extends ../../../layouts/teacher-layout.pug

block styles
  link(rel="stylesheet", href="/css/teacher.css")
block content
  h1 Lehreinheiten
  ul.nav.nav-pills.nav-fill
    li.nav-item
      a.nav-link(href="/teacher/sessions") Alle Lehreinheiten
    li.nav-item
      a.nav-link(href="/teacher/sessions/brainstorming/new") Neue Brainstorm Lehreinheit anlegen
    li.nav-item
      a.nav-link.active(href="#") Neue Quiz Lehreinheit anlegen
  hr
  div.card
    div.card-header Quiz Session anlegen
  div.card-body
    form(method='POST' action=`/teacher/sessions/quizzing/new`)
      div.form-group
        label(for='name') Name der Quiz Lehreinheit
        input.form-control(type='text' id='name' placeholder='z.B. Klasse 7A: Deutsch' name='name' required) 
      div.form-group
        label(for='topic') Thema der Quiz Lehreinheit
        input.form-control(type='text' id='topic' placeholder='z.B. Werke von Goethe' name='topic' required) 
      button.btn.btn-primary(type='submit') Speichern
      p Hinweis: Sie können Fragen zu diesem Quiz später im Lehreinheiten Bereich hinzufügen. 



