extends ../../layouts/teacher-layout.pug

block styles
    link(rel="stylesheet", href="/css/teacher.css")
block content
    h1 Brainstorm Session
    if sessions.length == 0
      p Noch keine Lehreinheiten vorhanden
    else 
      p es gibt da was!
